# config
config.toml

# logs
*.log.*
*.log

# project
.idea/

# sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal

# python
venv/
*.pyc

# downloaded files
*.mp4
*.mp3
*.jpg

# binaries
ffmpeg.exe

# tests
test/generic.py
